:root {
  --main-black: rgb(1, 4, 9);
  --alt-black: #161b22;
  --light-black: hwb(216 14% 84%);
  --main-text: rgb(230, 237, 243);
  --light-border: #8b949e;
  --light-selection: #30363d;
  --dark-selection: #2b2f33;
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(230, 237, 243);
  background-color: var(--alt-black);
  height:100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: var(--main-black);
  height: 5vh;
  padding: 0px;
  margin-bottom: 2vh;
  border-bottom: 2px solid var(--light-border);
  display: flex;
  align-items: center;
}

#header-sections{
  background-color: inherit;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.header-section {
  background-color: inherit;
  padding: 0 5px;
  display: flex;
  align-items: center;

}

.header-section ul{
  display: flex;
  flex-direction: row;
  height: 5vh;
  align-items: center;
}

.header-left {
  justify-content: start;
  width: 40%;
}

.header-mid {
  justify-content: center;
  width: 20%;
}
.header-right {
  justify-content: end;
  width: 40%;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav li {
  height: 5vh;
  padding: 2px;
}

nav li:has(a:hover) {
  background-color: var(--light-selection);
  width: 100%;
}

nav li:has(a.active) {
  background-color: var(--dark-selection);
}

.navBar-tab {
  display: flex;
  align-items: center;
}

.user-nav {
  display: flex;
  flex-direction: row;
}

.user-nav li {
  padding: 10px;
}

/* PANES */

#panes {
  display: flex;
  flex-direction: row;
}

/* Left Pane */

.pane-left {
  width: 20%;
  min-width: 200px;
  height: 93vh;
}

.pane-inner {
  padding: 0 10px;
  height: 93vh;
  display: flex;
  flex-direction: column;
}

.pane-left h3 {
  padding-bottom: 1vh;
  font-size: 3vh;
}

#searchBar {
  padding: 10px 0;
  height: 5vh;
}

#searchBar > input {
  width: 100%;
  display: block;
}

.pane-left ul {
  width: 100%;
  /* height: 87vh; */
  flex-grow: 2;
  margin-bottom: auto;
  overflow: auto;
  border: solid 1px grey;
  border-radius: 3px;
  background-color: var(--light-black);
}

/* List Item Styling */

.single-col-li {
padding: 10px;
border-top: 1px solid grey;
border-bottom: 1px solid grey;
background-color: var(--light-border);
display: flex;
flex-direction: column;;
}

.single-col-li>.li-row {
  display: flex;
  justify-content: space-between;
}

.li-row>span {
  display: inline-block;
  padding: 2px;
}

.col-link {
  text-decoration: none;
  color: inherit;
}

.single-col-li:hover {
  background-color: var(--light-selection);
}

.single-col-li.selected {
  background-color: var(--dark-selection);
}

#single-col-bottom {
  justify-self: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--light-black);
  border: solid 1px grey;
  border-radius: 3px;
}

#single-col-bottom a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px 0;
}

#single-col-bottom:hover {
  background-color: var(--dark-selection);
}

/* Middle Pane */

.pane-mid {
  width: 100%;
}
.pane-mid > .pane-inner {
  display: flex;
  flex-direction: column;
}

/* Middle Pane Nav */

.mid-nav-pill {
  margin: 0 10px 0 0;
  background: var(--dark-selection);
}

.mid-nav-pill:hover {
  background-color: var(--light-border);
  color: var(--light-selection)
}

.mid-nav-pill:has(a.active) {
  background-color: var(--light-border);
  color: var(--light-selection);
}

/* Main Pane Header */
.pane-mid > .pane-inner > div {
  /* border: 1px solid red; */
}

#main-pane-header {
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px;
}

#main-pane-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

#main-pane-header-title h2 {
  font-size: 32px;
}

#main-pane-profile-nav {
  display: flex;
  flex-direction: row;
}

#main-pane-profile-nav a {
  text-decoration: none;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0 20px;
}

#main-pane-profile-nav a:hover {
  color: var(--light-selection);
}

#main-pane-profile-nav a.selected {
  background-color: var(--light-selection);
}

#main-pane-content {
  margin-top: 20px;
}

#main-pane-content > .panel {
  padding: 10px;
  margin: 10px 0;
  background-color: var(--dark-selection);
}

#main-pane-content > .panel > h3 {
  font-size: 20px;
  padding-bottom: 10px;
}

.panel-contents-section {
  display: flex;
  flex-direction: row;
}

.panel-contents>div {
  padding: 10px 0;
}

.panel-section-desc {
  padding: 0 10px 0 0;
}

/* Customer form */

#main-pane-header-title > .main-pane-form-actions > button {
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
  color: inherit;
  background-color: var(--light-border);
}

/* Tables */

.scrollable-table {
  border: 1px solid var(--light-border);
  width: 100%;
  height: 71vh;
  overflow-y: auto;
  /* snap scroll, to do...
  scroll-snap-type: y mandatory;
  */
}

.scrollable-table.short {
  height: 13vh;
}

.scrollable-table > table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
  height: 40px;
  background-color: var(--light-black);
  position: sticky;
  top: 0;
}

th, td {
  padding: 4px;
  border-bottom: 1px solid var(--light-border);
}

/* thead th {
} */

tbody {
  overflow: auto;
}

/* 
Snap scroll, to do...

table tbody tr {
  scroll-snap-align: start;
} */

tbody tr:nth-of-type(even) {
  background-color: var(--light-black);
}

tbody > tr:hover {
  background-color: var(--light-selection);
}