:root {
  --main-black: rgb(1, 4, 9);
  --alt-black: #161b22;
  --light-black: hwb(216 14% 84%);
  --main-text: rgb(230, 237, 243);
  --light-border: #8b949e;
  --light-selection: #30363d;
  --dark-selection: #2b2f33;
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(230, 237, 243);
  background-color: var(--alt-black);
  height:100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: var(--main-black);
  height: 5vh;
  padding: 0px;
  margin-bottom: 2vh;
  border-bottom: 2px solid var(--light-border);
  display: flex;
  align-items: center;
}

#header-sections{
  background-color: inherit;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.header-section {
  background-color: inherit;
  padding: 0 5px;
  display: flex;
  align-items: center;

}

.header-section ul{
  display: flex;
  flex-direction: row;
  height: 5vh;
  align-items: center;
}

.header-left {
  justify-content: start;
  width: 40%;
}

.header-mid {
  justify-content: center;
  width: 20%;
}
.header-right {
  justify-content: end;
  width: 40%;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav li {
  height: 5vh;
  padding: 2px;
}

nav li:has(a:hover) {
  background-color: var(--light-selection);
  width: 100%;
}

nav li:has(a.active) {
  background-color: var(--dark-selection);
}

.navBar-tab {
  display: flex;
  align-items: center;
}

.user-nav {
  display: flex;
  flex-direction: row;
}

.user-nav li {
  padding: 10px;
}

/* PANES */

#panes {
  display: flex;
  flex-direction: row;
}

/* Left Pane */

.pane-left {
  width: 20%;
  height: 93vh;
}

.pane-inner {
  padding: 0 10px;
  height: 93vh;
  display: flex;
  flex-direction: column;
}

.pane-left h3 {
  padding-bottom: 1vh;
  font-size: 3vh;
}

.pane-left ul {
  width: 100%;
  /* height: 87vh; */
  flex-grow: 2;
  margin-bottom: auto;
  overflow: auto;
  border: solid 1px grey;
  border-radius: 3px;
  background-color: var(--light-black);
}

.single-col-li {
padding: 10px;
border-top: 1px solid grey;
border-bottom: 1px solid grey;
background-color: var(--light-border);
}

.col-link {
  text-decoration: none;
  color: inherit;
}

.single-col-li:hover {
  background-color: var(--light-selection);
}

.single-col-li.selected {
  background-color: var(--dark-selection);
}

#single-col-bottom {
  justify-self: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--light-black);
  border: solid 1px grey;
  border-radius: 3px;
}

#single-col-bottom a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px 0;
}

#single-col-bottom:hover {
  background-color: var(--dark-selection);
}

/* Middle Pane */

.pane-mid {
  width: 100%;
}
.pane-mid > .pane-inner {
  display: flex;
  flex-direction: column;
}
/* Middle Pane Customer Profile */
.pane-mid > .pane-inner > div {
  /* border: 1px solid red; */
}

#customer-header {
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px;
}

#customer-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

#customer-header-title h2 {
  font-size: 32px;
}

#customer-profile-nav {
  display: flex;
  flex-direction: row;
}

#customer-profile-nav a {
  text-decoration: none;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0 20px;
}

#customer-profile-nav a:hover {
  color: var(--light-selection);
}

#customer-profile-nav a.selected {
  background-color: var(--light-selection);
}

#customer-info {
  margin-top: 20px;
}

#customer-info > .panel {
  padding: 10px;
  margin: 10px 0;
  background-color: var(--dark-selection);
}

#customer-info > .panel > h3 {
  font-size: 20px;
  padding-bottom: 10px;
}

.panel-contents-section {
  display: flex;
  flex-direction: row;
}

.panel-contents>div {
  padding: 10px 0;
}

.panel-section-icon {
  padding: 0 10px 0 0;
}
/* #layout {
  background-color: var(--alt-black);
  height: 100%;
  display: flex;
  align-items: stretch;
}

#layout nav {
  background-color: var(--main-black);
  width: 20vw;
  height: 100%;
}

#layout nav ul {
  padding: 30px;
}

#layout nav ul li {
  padding: 10px;
  width: 10vw;
  font-size: 20px;
  border-radius: 5px;
}

#layout nav ul li a {
  text-decoration: none;
  color: inherit;
}

#layout nav ul li:hover {
}


.main-panel {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 20px;
}

#actions-list {
  border: 2px solid var(--light-border);
  border-radius: 5px;
  background-color: var(--main-black);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 30px;
}

#actions-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-selection);
  width: 120px;
  height: 5vh;
  border: 2px solid var(--light-border);
  border-radius: 5px;
  padding:5px;
}

#actions-list li:hover {
  background-color: var(--dark-selection);
}

.main-panel .content {
  padding: 20px;
  height: 75vh;
  width: 100%;
  background-color: var(--light-selection);
  margin-top: 10px;
  border: 2px solid var(--light-border);
  border-radius: 5px;
}

.table-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
}
table td {
  overflow: hidden;
}

thead tr th{
  border: 3px solid black;
  padding: 0 5px;
} */