:root {
  --main-black: rgb(1, 4, 9);
  --alt-black: #161b22;
  --main-text: rgb(230, 237, 243);
  --light-border: #8b949e;
  --light-selection: #30363d;
  --dark-selection: #2b2f33;
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(230, 237, 243);
  background-color: var(--alt-black);
  height:100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  background-color: var(--main-black);
  height: 5vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 2px solid var(--light-border);
}

header ul {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

header ul li {
  background-color: inherit;
  padding: 0 10px;
}

#layout {
  background-color: var(--alt-black);
  height: 100%;
  display: flex;
  align-items: stretch;
}

#layout nav {
  background-color: var(--main-black);
  width: 20vw;
  height: 100%;
}

#layout nav ul {
  padding: 30px;
}

#layout nav ul li {
  padding: 10px;
  width: 10vw;
  font-size: 20px;
  border-radius: 5px;
}

#layout nav ul li a {
  text-decoration: none;
  color: inherit;
}

#layout nav ul li:hover {
  background-color: var(--light-selection);
}

.selected {
  background-color: var(--dark-selection);
}

.main-panel {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 20px;
}

#actions-list {
  border: 2px solid var(--light-border);
  border-radius: 5px;
  background-color: var(--main-black);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 30px;
}

#actions-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-selection);
  width: 120px;
  height: 5vh;
  border: 2px solid var(--light-border);
  border-radius: 5px;
  padding:5px;
}

#actions-list li:hover {
  background-color: var(--dark-selection);
}

.main-panel .content {
  padding: 20px;
  height: 75vh;
  width: 100%;
  background-color: var(--light-selection);
  margin-top: 10px;
  border: 2px solid var(--light-border);
  border-radius: 5px;
}

.table-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
}
table td {
  overflow: hidden;
}

thead tr th{
  border: 3px solid black;
  padding: 0 5px;
}